// Set your brand colors

// Import Fonts
@font-face {
    font-family: 'Cantata-one';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cantata-one-latin-400.woff") format('woff');
}


@font-face {
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/imprima-latin-400.woff") format('woff');
}



// Galerieluctor
$blue1: #94af9e;
$blue2: #3b89af;
$blue3: #0d4c93;

/* SCSS HEX */
$cerulean-blue: #3b52c7ff;
$aureolin: #f6eb13ff;
$rufous: #a40606ff;
$indigo: #540688ff;
$floral-white: #fff8f0ff;

// Update Bulma's global variables
$family-sans-serif: "Imprima", sans-serif;
// Define title font family
$title-family: "Cantata-one", serif;
//$subtitle-family
//$button-family

//$grey: #cbd1d1;
//$grey-dark: $grey;
//$grey-light: $grey;
$primary: $floral-white;
$success : $rufous;
$link: $aureolin;
$text-strong: $aureolin;

$input-placeholder-color: $grey-dark;
$input-focus-border-color: $rufous;

//$text: #cbd1d1;

$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$navbar-background-color: $cerulean-blue;
$body-background-color: $cerulean-blue;
$footer-background-color: $cerulean-blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set default title color for use in hero
// Primary can not be used with hero, because it overwrites background image
$title-color: white;

$navbar-item-hover-background-color: transparent;
