
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "_variables";
@import 'bulma/sass/utilities/derived-variables';


@import "bulma/bulma";


#dummy {
  display: none;
}

/**
 * Enable smooth scrolling on the whole document
 * https://gomakethings.com/how-to-animate-scrolling-to-anchor-links-with-one-line-of-css/
 */
html {
	scroll-behavior: smooth;
}

// Make cards the same height
.card{
  height: 100%;
  display: flex;
  flex-direction: column;
}


.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* https://github.com/jgthms/bulma/issues/297#issuecomment-499961774 */
.columns.is-reversed-mobile {
    @include mobile {
    display: flex;
    flex-direction: column-reverse;
    }
}
// Add drop shadow to card
// https://github.com/BulmaTemplates/bulma-templates/blob/master/css/hero.css#L64
.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

// Display a ribbon with date over the feature images
// https://codepen.io/noahbres/pen/MXLBPJ
.date-ribbon {
	position: absolute;
	top: 0;
	left: 1em;
	background: $success;
	padding: 0.2em 1em;
	padding-bottom: 0;
	border-radius: 0;
}
// Spacing between logo and title
.logo {
    padding-right: 0.5em;
}

{{ with .Site.Params.hero }}
    $hero: "{{ . }}";
    .hero {
      background-repeat: no-repeat;
      background: url($hero) center center;
      background-size: cover;
}
{{ end }}


@media screen and (max-width: 768px) {
  .hero .is-overlay{
    background: url("/uploads/hero.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(20, 60, 58, 0.41);
  }
}

@media screen and (min-width: 769px), print {
  .hero .is-overlay {
    //background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    //background: linear-gradient(to top, rgba($black, .8), rgba($black, .5), transparent, transparent);
    background: rgba(20, 60, 58, 0.41);
    //box-shadow: inset 0 1px 3px 0 rgba(182, 122, 122, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}
