<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
</head>
<body>
</script>
  <!-- Include the script that builds the page and powers Netlify CMS -->
{{ $cms := resources.Get "js/netlify-cms.js" }}

{{ if not .Site.IsServer }}
  {{ $cms = $cms | minify | fingerprint }}
{{ end }}
<script src="{{ $cms.Permalink }}" {{ with $cms.Data.Integrity }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}></script>

</body>
</html>
