<div class="column has-text-light">
    <h3 class="title is-3" id="nieuws">Nieuws</h3>

      <div class="columns">
          {{ range where .Site.RegularPages "Type" "blog" | first .Site.Params.blog_count }}
            {{ $month_names := slice "januari" "februari" "maart" "april" "mei" "juni" "juli" "augustus" "september" "oktober" "november" "december" }}
            {{ $month := sub .Date.Month 1 }}
        <div class="column">
          <div class="content is-medium">
            <h4 class="subtitle is-6 has-text-grey-lighter">{{ .Date.Day }} {{ index $month_names $month }} {{ .Date.Year }}</h4>
            <h3 class="title has-text-primary">{{ .Title }}</h3>
            <p>{{ .Content  | truncate .Site.Params.blog_words }}</p>
          </div>
        </div>
        {{ end }}

      </div>

<!--
    <div class="columns is-centered">
         <a class="button is-primary"  href="blog/">Meer nieuws</a>
    </div>
-->
</div>
