<div class="column">
    <h3 id="exposities" class="title is-3">Exposities</h3>
    {{ $future_content := slice }}
    {{ $past_content := slice }}

    {{ $date_format := "2006-01-02T15:04:05" }}

    {{ range where .Site.RegularPages.ByDate "Type" "expositions" }}
      {{ $formatted_end := dateFormat $date_format .Params.EndDate }}
      {{ $formatted_now := now.Format $date_format }}

      {{ if ge $formatted_end $formatted_now }}
        {{ $future_content = $future_content | append . }}
      {{ else }}
        {{ $past_content = $past_content | append . }}
      {{ end }}
    {{ end  }}
    {{ $month_names := slice "januari" "februari" "maart" "april" "mei" "juni" "juli" "augustus" "september" "oktober" "november" "december" }}
    <h4 class="title is-4 has-text-primary">Huidig en verwacht</h4>
    <div class="columns features">
        {{ range $future_content | first 3 }}
          {{ $month_start := sub .Date.Month 1 }}
          {{ $endDate := time .Params.EndDate }}
          {{ $month_end := sub $endDate.Month 1 }}
          <div class="column is-4">
            <div class="card is-shady">
              <div class="card-image">
                  <figure class="image is-1by1">
                      {{ $image := .Resources.GetMatch "featured_image" }}
                      {{ if $image }}
                          {{ $thumb := $image.Resize "400x300" }}
                          <a href="{{ .RelPermalink }}"><img src="{{ $thumb.RelPermalink }}" alt="Placeholder image" class="modal-button" data-target="modal-image2"></a>
                      {{ else }}
                          <img src="comingsoon.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                      {{ end }}
                  </figure>
              </div>
              <header class="card-header">
                <p class="card-header-title has-text-dark">
                    {{ if .Params.planned }}
                        {{ .Title }}
                    {{ else }}
                        <a href="{{ .RelPermalink }}" class="has-text-dark">{{ .Title }}</a>
                    {{ end }}
                </p>

              </header>
              <div class="card-content has-text-dark">
                <div class="content">
                    {{ if .Params.planned }}
                        {{ .Content | truncate 200 }}
                    {{ else }}
                        <p><a href="{{ .RelPermalink }}" class="has-text-dark">{{ .Content | truncate 200 }}</a></p>
                    {{ end }}
                </div>
              </div>
              <div class="date-ribbon has-text-light">
                  <h2>{{ .Date.Day }} {{ index $month_names $month_start }} - {{ $endDate.Day }} {{ index $month_names $month_end }}</h2>
                  <h1></h1>
              </div>
            </div>
          </div>
          {{ end }}
    </div>

    <h4 class="title is-4 has-text-primary">Geweest</h4>
    <div class="columns features">
        {{ range $past_content.Reverse | first 3 }}
          {{ $month_start := sub .Date.Month 1 }}
          {{ $endDate := time .Params.EndDate }}
          {{ $month_end := sub $endDate.Month 1 }}
          <div class="column is-4">
            <div class="card is-shady">
              <div class="card-image">
                  <figure class="image is-1by1">
                      {{ $image := .Resources.GetMatch "featured_image" }}
                      {{ if $image }}
                          {{ $thumb := $image.Fill "400x400" }}
                          <a href="{{ .RelPermalink }}"><img src="{{ $thumb.RelPermalink }}" alt="Placeholder image" class="modal-button" data-target="modal-image2"></a>
                      {{ else }}
                          <img src="comingsoon.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                      {{ end }}
                  </figure>
              </div>
              <header class="card-header">
                <p class="card-header-title has-text-dark">
                    {{ if .Params.planned }}
                        {{ .Title }}
                    {{ else }}
                        <a href="{{ .RelPermalink }}" class="has-text-dark">{{ .Title }}</a>
                    {{ end }}
                </p>
                </header>
              <div class="card-content has-text-dark">
                <div class="content has-text-dark">
                    {{ if .Params.planned }}
                        {{ .Content | truncate 200 }}
                    {{ else }}
                        <p><a href="{{ .RelPermalink }}" class="has-text-dark">{{ .Content | truncate 200 }}</a></p>
                    {{ end }}
                </div>
              </div>
              <div class="date-ribbon has-text-light">
                  <h2>{{ .Date.Day }} {{ index $month_names $month_start }} {{ .Date.Year }} - {{ $endDate.Day }} {{ index $month_names $month_end }} {{ $endDate.Year }}</h2>
                  <h1></h1>
              </div>
            </div>
          </div>
          {{ end }}
    </div>
    <!--
    <div class="columns is-centered">
         <a class="button is-primary"  href="expositions/">Alle exposities</a>
    </div>
-->
</div>
