<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{- with .Description | default .Content | default .Site.Params.description | default .Summary }}
      <meta name="description" content="{{ . | plainify | truncate 200 }}">
      <meta property="og:description" content="{{ . | plainify | truncate 200 }}">
      <meta name="twitter:description" content="{{ . | plainify | truncate 200 }}">
    {{- end }}
      <meta name="keywords" content="galerieluctor">

{{ partial "css.html" . }}
{{ partial "js.html" . }}

    <title>{{ if not .IsHome }}{{ .Params.name | default .Title }} | {{ end }}{{ site.Title }}</title>
    <!-- Hugo Version number -->
      {{ .Hugo.Generator -}}

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.galerieluctor.nl"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//analytics.biomatt.nl/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '3']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//analytics.biomatt.nl/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

</head>
