<section class="hero is-relative is-fullheight is-bold has-text-light">
    <div class="is-overlay"></div>

    <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title"> {{ .Site.Title }}</h1>
          {{ $future_content := slice }}
          {{ $date_format := "2006-01-02T15:04:05" }}

          {{ range where .Site.RegularPages.ByDate "Type" "expositions" }}
            {{ $formatted_end := dateFormat $date_format .Params.EndDate }}
            {{ $formatted_now := now.Format $date_format }}

            {{ if ge $formatted_end $formatted_now }}
              {{ $future_content = $future_content | append . }}
            {{ end }}
          {{ end  }}
          {{ $current := index $future_content 0 }}
          {{ $month_names := slice "januari" "februari" "maart" "april" "mei" "juni" "juli" "augustus" "september" "oktober" "november" "december" }}
          {{ $month_start := sub $current.Date.Month 1 }}
          {{ $endDate := time $current.Params.EndDate }}
          {{ $month_end := sub $endDate.Month 1 }}
          <h1 class="subtitle"><a href="#exposities" class="has-text-white">Huidige expositie: {{ $current.Title }} ({{ .Date.Day }} {{ index $month_names $month_start }} - {{ $endDate.Day }} {{ index $month_names $month_end }})</a></h1>
        </div>
    </div>
    <div class="hero-foot">
      <nav class="is-fullwidth">
        <div class="container">
            <div class="columns has-text-centered hero-foot is-hidden-mobile">
              <div class="column">
                <h1><b>Openingstijden</b></h1>
                <ul>
                    {{ range .Site.Params.openingstijden }}
                    <li>{{ . }}</li>
                    {{ end }}
                <ul>
              </div>
              <div class="column">
                <h1>Bezoekadres</h1>
                <ul>
                    {{ range .Site.Params.adres }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
              </div>
              <div class="column">
                <h1>Contact</h1>
                <ul>
                    {{ $email := split .Site.Params.email "dummy" }}
                    <li><a href="mailto:{{ .Site.Params.email }}" title=Email class="has-text-white">{{ index ($email) 0 }}<span id="dummy">REMOVE</span>{{ index ($email) 1 }}</a></li>
                    <li>{{ .Site.Params.telefoon }}</li>
                </ul>
              </div>
            </div>
        </div>
      </nav>
    </div>
</section>
