<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-brand">

        <!-- logo or branding image on left side -->

        <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-item" href="{{ "/" | relLangURL }}">
            {{ if site.Params.logo }}
            <img class="logo" src="{{ printf "%s" site.Params.logo | relURL }}">
            {{ end }}
            <span class="title is-5">{{- site.Title -}}</span>
          </a>
          <div class="navbar-burger"  data-target="navbar-menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </div>
      </div>

      <!-- navbar items | right side -->
      <div class="navbar-menu" id="navbar-menu">
          {{- range $.Site.Data.navbar.menu }}
              <a class="navbar-item has-text-light" href="{{ .url | safeURL }}" title="{{ .name | humanize }}">
                  {{ if .name }}
                      <span class="icon is-small">
                        {{ partial "svg.html" . }}
                      </span>
                  {{ end }}
                  <span class="title is-size-6">{{ .title }}</span>
              </a>
          {{ end }}
          {{- with .Site.Params.social }}
              {{ range . -}}
              <a class="navbar-item" href="{{ .url | safeURL }}" target="_blank" rel="noopener norefferer" title="{{ .name | humanize }}">
                  <span class="icon">{{ partial "svg.html" . }}</span>
              </a>
              {{- end -}}
          {{- end }}
    </div>
  </div>
</nav>
