{{ define "main" }}

{{ $month_names := slice "januari" "februari" "maart" "april" "mei" "juni" "juli" "augustus" "september" "oktober" "november" "december" }}
{{ $month_start := sub .Date.Month 1 }}
{{ $endDate := time .Params.EndDate }}
{{ $month_end := sub $endDate.Month 1 }}


<section class="section">
 <div class="container">
   <div class="columns is-desktop is-vcentered">
     {{ $featured_image := .Page.Resources.GetMatch "featured_image" }}
     {{ if $featured_image }}
         {{ $thumbnail := $featured_image.Resize "600x600" }}
         {{ $fullsize := $featured_image.Resize "1200x1200" }}
         <div class="column is-6-desktop">
             <figure class="image is-1by1">
                 <a href="{{ $fullsize.RelPermalink }}" data-fancybox="gallery"><img src="{{ $thumbnail.RelPermalink }}" alt=""></a>
             </figure>
         </div>
         <div class="column is-6-desktop">
           <h2 class="title is-spaced">{{ .Title }}</h2>
           <h2 class="subtitle has-text-light">{{ .Date.Day }} {{ index $month_names $month_start }} - {{ $endDate.Day }} {{ index $month_names $month_end }} {{ $endDate.Year }}</h2>
         </div>
     {{ end }}
   </div>
   <div class="column content is-medium has-text-light">
     <p>{{ .Content }}</p>
   </div>
 </div>
</section>

  <!-- Gallery -->

    <section class="section">
      <div class="container">
        <h2 class="title has-text-centered">Gallery</h2>
        <div class="columns is-multiline">
        <!-- Get images from disk -->
          {{ $images := .Page.Resources.ByType "image" }}
          <!-- loop over frontmatter gallery -->
          {{ range $.Page.Params.gallery }}
              {{ $image := .image }}
                <!-- loop over images from disk -->
                {{ range $images}}
                    <!-- Compare if name of gallery image matches a filename on disk -->
                    {{ $filename := .Name }}
                    {{ if eq $image $filename }}
                        {{ $thumbnail := .Fill "400x400" }}
                        {{ $fullsize := .Resize "1200x" }}
                        <div class="column is-4">
                            <a href="{{ $fullsize.RelPermalink }}" data-fancybox="gallery"><img src="{{ $thumbnail.RelPermalink }}"></a>
                        </div>
                {{ end }}
          {{ end }}

         {{ end }}
        </div>
      </div>
    </section>


{{ end }}
